# Auto detect text files and perform LF normalization
* text=auto

*.* .linguist-ignore

*.uiscreen linguist-language=JSON
*.uicomponent linguist-language=JSON
*.ui linguist-language=JSON
*.uicontent linguist-language=JSON
*.uitexture linguist-language=JSON
