# Auto detect text files and perform LF normalization
* text=auto

linguist-vendored=false

*.hlsl linguist-language=HLSL
*.glsl linguist-language=GLSL

*.json linguist-language=JSONC

*.uiscreen linguist-language=JSONC
*.uicomponent linguist-language=JSONC
*.ui linguist-language=JSONC
*.uicontent linguist-language=JSONC
*.uitexture linguist-language=JSONC
